/* General body styles */
body {
    background-color: #262626;
    color: #ebdbb1;
    font-family: 'JetBrains Mono', monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
  }
  
  /* Terminal container */
  #terminal {
    padding: 20px;
    height: 100vh;
    font-size: 1.7em;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  
  /* Input line container */
  .input-line {
    display: flex;
    align-items: center; /* or center if baseline still looks weird */
  }
  
  /* Prompt styles */
  .prompt {
    margin-right: 5px;
  }
  
  /* Input box styles */
  .input {
    background: none;
    border: none;
    outline: none;
    color: #ebdbb1;
    font-family: 'JetBrains Mono', monospace;
    font-size: inherit;
    line-height: 1em;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
  }
  
  